html {
  background-color: black;
  font-family: 'Grape Nuts', cursive;
}

.menu-body {
  max-width: 680px;
  margin: 0 auto;
  padding: 8px;
  display: block;
  color: white;
}

.menu-section {
  margin-bottom: 80px;
  padding-top: 1px;
}

.menu-section-title {
  font-size: 50px;
  display: block;
  font-weight: normal;
  margin: 20px 0;
  text-align: center;
  color: white;
}

.menu-item {
  margin: 35px 0;
  font-size: 18px;
}

.menu-item-name {
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-description {
  font-style: italic;
  font-size: .9em;
  line-height: 1.5em;
}

.menu-item-price {
  float: right;
  font-weight: bold;
  margin-top: -22px;
}
  
  