/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 62.5%;
  font-family: 'Grape Nuts', cursive;
  color: white;
  background: black;
}
h1{
  font-size: 10rem;
  font-weight: 600;
}
h2{
  font-size: 8rem;
  font-weight: 600;
}
a{
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
/******************************************
/* LAYOUT
/*******************************************/



/*HEADER************************************/
header{
  background-color: #0f0e13;
}
header li{
  display: inline-block;
  margin: 15px;
  font-size: 2rem;
}
header li.menu{
  display: none;
}
header ul{
  text-align: end;
}
/*HEADER************************************/

/*MAIN**************************************/
main{
  height: 900px;
  width: 100%;
  background-image: url("assets/main1.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #0f0f11;
}
h1{
  width: 55%;
  margin: 0 0 2% 4%;
  padding-top: 10%;
}
form{
  margin-left: 4%;
  margin-bottom: 2%;
  font-size: 5rem;
}
input.button{
  color: white;
  background: red;
}
main a{
  margin-left: 4%;
  font-size: 3rem;
}
main i{
  color: red;
}
/*MAIN**************************************/

/*SECTION***********************************/
section.about{
  height: auto;
  width: 100%;
  background-image: url("assets/discover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 75px 0;
}
section.about h4, section.about h2, section.about p, section.about a{
  margin-left: 35%;
}
section.about h4{
  color: red;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 100px;
  margin-bottom: 10px;
}
section.about h2{
  width: 45%;
  margin-bottom: 50px;
}
section.about p{
  width: 35%;
  font-size: 2.5rem;
  margin-bottom: 40px;
}
section.about a{
  display: block;
  width: 160px;
  background: red;
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 50px;
  color: white;
  font-weight: 600;
}
/*SECTION***********************************/

/*SECTION***********************************/
section.order{
  height: auto;
  width: 100%;
  text-align: center;
  background: black;
  float: left;
}
section.order h4{
  color: red;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 50px;
  margin-bottom: 10px;
}
section.order ul{
  border-bottom: 1px solid grey;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}
section.order li{
  display: inline-block;
  margin: 20px;
}
section.grid{
  height: auto;
  width: 100%;
  margin: auto;
  padding: 0 12.5%;
}
section.order img{
  height: 400px;
  width: 275px;
  margin: 10px;
}
/*SECTION***********************************/

/*SECTION***********************************/
section.book{
  height: auto;
  width: 100%;
  text-align: center;
  background-image: url("assets/yuya-yoshioka-0IvwihAQy5s-unsplash.jpg");
  background-size: cover;
  margin-bottom: 50px;
  float: left;
}
section.book > h4{
  color: red;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 30px;
  margin-bottom: 10px;
}
.book h2{
  margin-bottom: 20px;
}
.book a{
  font-size: 6rem;
  color: red;
}
.book video{
  height: auto;
  width: 75%;
}
.book h5{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.book h3{
  font-size: 4rem;
  font-weight: 600;
  color: red;
  margin-bottom: 10px;
}
div{
  width: 25%;
  text-align: left;
  float: left;
  margin-left: 18%;
  margin-bottom: 20px;
}
div h4{
  font-size: 3rem;
  font-weight: 600;
}
/*SECTION***********************************/

/*SECTION***********************************/
.testimonials{
  height: auto;
  width: 100%;
  text-align: center;
  float: left;
}
.testimonials h4{
  color: red;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.testimonials h2{
  margin-bottom: 20px;
}
.testimonials h3{
  font-size: 4rem;
  margin-bottom: 5px;
}
span{
  font-size: 2rem;
  color: grey;
  display: block;
  text-align: center;
}
img.face{
  height: 250px;
  width: 250px;
}
img.stars{
  height: 50px;
  width: 200px;
  margin-bottom: 10px;
}
.testimonials p{
  font-size: 2rem;
  font-style: italic;
  width: 60%;
  margin: auto;
}
/*SECTION***********************************/

/*FOOTER************************************/
footer{
  float: left;
  height: 100px;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  background: #0f0f11;
}
footer li{
  margin: 20px 10px 0 0;
  font-size: 28px;
  display: inline-block;
}
footer h6{
  font-size: 16px;
  margin: 15px 0 15px 0;
}
/*FOOTER************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 1603px){
  section.grid{
     padding: 0 10%;
  }
}
@media screen and (max-width: 1503px){
  section.grid{
     padding: 0 5%;
  }
}
@media screen and (max-width: 1337px){
  section.grid{
     padding: 0;
  }
}
@media screen and (max-width: 1097px){
  h1{
    font-size: 8rem;
  }
  main form{
    font-size: 4rem;
  }
}
@media screen and (max-width: 784px){
  section.about p{
    width: 50%;
  }
}
@media screen and (max-width: 683px){
  section.about p{
    width: 60%;
  }
}
@media screen and (max-width: 652px){
  section.about h4, section.about h2, section.about p, section.about a{
    margin-left: 20%;
  }
  header li.menu{
    display: inline-block;
  }
  header li{
    display: none;
  }
}
@media screen and (max-width: 505px){
  main{
    background-image: url("assets/main2.jpg");
    height: 650px;
  }
  h1{
    width: 100%;
    font-size: 8rem;
    padding-top: 50px;
  }
  main form{
    font-size: 3rem;
  }
  main a{
    display: inline-block;
    font-size: 3rem;
    padding-bottom: 50px;
  }
 section.about h4, section.about h2, section.about p, section.about a{
    margin-left: 5%;
  }
  section.about p{
    width: 90%;
  }
  section.about h2{
    font-size: 6rem;
  }
  section.about h4{
    padding-top: 50px;
  }
  section.order h2{
    font-size: 5rem;
  }
  section.order ul{
    width: 100%;
  }
  section.order a{
    font-size: 1.5rem;
  }
  section.book{
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  section.book h2{
    font-size: 6rem;
  }
  section.book a{
    font-size: 3rem;
  }
  section.book div h4{
    font-size: 1.5rem;
  }
  div{
    width: 50%;
    text-align: center;
    margin: 0 auto 25px auto;
  }
  section.testimonials h2{
    font-size: 6rem;
  }
}
@media screen and (max-width: 475px){
  h1{
    font-size: 6rem;
  }
  main form{
    font-size: 2rem;
  }
  main a{
    font-size: 2rem;
  }
}